.mobile-inner-nav {
    overflow: hidden;
}

    .mobile-inner-nav a {
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: resize;
        animation-name: resize;
    }


@-webkit-keyframes resize {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale(5,5);
        transform: scale(5,5);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
}

@keyframes resize {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale(5,5);
        transform: scale(5,5);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
}
