<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="BoooooJuDB" connectionString="data source=120.24.171.206;initial catalog=test;user id=NTSERVILYWCE;password=boooooju.com;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <identity impersonate="true" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="default_BaseHttpBingding">
          <security mode="Message">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_Transport_UserName">
          <security mode="Transport">
            <!--账户密码验证-->
            <transport proxyCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="netTcpBinding_Transport_Windows">
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
          </security>
        </binding>
        <binding name="netTcpBinding_Transport_Certificate">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="wsHttpBinding_Message_Username">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="wsHttpBinding_Transport_Username">
          <security mode="Transport">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="wsHttpBinding_Transport_none">
          <security mode="Transport">
            <message clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="default_behavior">
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <!--客户端用户名/密码验证方式-->
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="ServerWcfService.CustomValidators.BoooooJuValidator,BoooooJu.Service.Core" />
            <!-- 服务端采用证书详细配置    findValue ：创建证书名称   storeName：证书储存详细位于哪    storeLocation :证书储存位于当前本机用户  X509FindType : x509查找证书主题名-->
            <serviceCertificate findValue="boooooju2010" x509FindType="FindBySubjectName" storeLocation="LocalMachine" storeName="My" />
            <!--Window身份验证-->
            <clientCertificate>
              <authentication certificateValidationMode="Custom" customCertificateValidatorType="ServerWcfService.CustomValidators.MyCustomValidatort,BoooooJu.Service.Core" />
            </clientCertificate>
          </serviceCredentials>
        </behavior>
        <behavior name="default_Certificate_behavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceCredentials>
            <!-- 服务端采用证书详细配置    findValue ：创建证书名称   storeName：证书储存详细位于哪    storeLocation :证书储存位于当前本机用户  X509FindType : x509查找证书主题名-->
            <serviceCertificate findValue="boooooju2010" x509FindType="FindBySubjectName" storeLocation="LocalMachine" storeName="My" />
            <!--Window身份验证-->
            <clientCertificate>
              <authentication certificateValidationMode="Custom" customCertificateValidatorType="ServerWcfService.CustomValidators.MyCustomValidatort,BoooooJu.Service.Core" />
            </clientCertificate>
            <!--客户端用户名/密码验证方式-->
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="ServerWcfService.CustomValidators.MyCustomValidator,BoooooJu.Service.Core" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false" />
    <services>
      <service name="BoooooJu.Service.Core.Addresses.Account.SetUser" behaviorConfiguration="default_behavior">
        <endpoint name="InUserPoint" address="http://localhost:57315/SetUser.svc" binding="wsHttpBinding" bindingConfiguration="wsHttpBinding_Message_Username" contract="BoooooJu.Service.Core.Contracts.Account.ISetUser" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="BoooooJu.Service.Core.Addresses.Account.GetUser" behaviorConfiguration="default_behavior">
        <endpoint name="InUserPoint" address="http://localhost:57315/GetUser.svc" binding="wsHttpBinding" bindingConfiguration="wsHttpBinding_Message_Username" contract="BoooooJu.Service.Core.Contracts.Account.IGetUser" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>