@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_default.cshtml";
}
@section Head{
    @Scripts.Render("~/Js/Page")
}
<div class="container">
    <h2>AgentManage</h2>
    <div class="input-group">
        <input name="NickName" type="text" class="form-control" placeholder="NickName">
        <span class="input-group-btn">
            <button class="btn btn-default " type="button" onclick="Search()">
                Search
            </button>
        </span>
    </div><!-- /input-group -->
    <table class="table table-striped table-hover" id="AgentTable">
        <thead>
            <tr>
                <th data-orderBy="Id" data-sort="0">Id</th>
                <th data-orderBy="NickName" data-sort="0">NickName</th>
                <th data-orderBy="Sex" data-sort="0">Sex</th>
                <th data-orderBy="CreateTime" data-sort="0">CreateTime</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="Agents"></tbody>
    </table>
    <ul id="demo" class="pagination"></ul>
    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="Gooo()">
                Goto
            </button>
        </span>
        <input id="Goto" type="text" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="destory()">
                Destory
            </button>
        </span>
    </div>
</div>
@section Js{
    <script>
        var GlobalIsEnd = false;
        var GlobalQueryParam = { TatalPages: 1, PageIndex: 1, Sort: 0, OrderBy: "Id", NickName: $('input[name=NickName]').val() }

        $("#AgentTable").children("thead").children("tr").eq(0).children("th").click(function () {
            if ($(this).attr("data-orderBy") != undefined) {
                GlobalQueryParam.OrderBy = $(this).attr("data-orderBy");
                GlobalQueryParam.Sort = $(this).attr("data-sort");
                AgentMangePage(GlobalQueryParam);
                $(this).attr("data-sort", GlobalQueryParam.Sort == 1 ? 0 : 1);
            }
        });

        $(function () {
            $("#demo").jqPaginator({
                totalPages: GlobalQueryParam.TatalPages,
                visiblePages: 5,
                currentPage: 1,
                activeClass: 'active',
                disableClass: "disabled",
                first: "<li class='first'><a href='#'>First</a></li>",
                prev: "<li class='prev'><a href='#'>&laquo;</a></li>",
                page: "<li ><a href='#'>{{page}}</a></li>",
                next: "<li class='next'><a href='#'>&raquo;</a></li>",
                last: "<li class='first'><a href='#'>Last</a></li>",
                onPageChange: function (n) {
                    GlobalQueryParam.PageIndex = n;
                    GlobalQueryParam.NickName = $('input[name=NickName]').val();
                    AgentMangePage(GlobalQueryParam);
                }
            });
        })

        function Search() {
            GlobalQueryParam.PageIndex = 1;
            GlobalQueryParam.NickName = $('input[name=NickName]').val();
            AgentMangePage(GlobalQueryParam);
        }

        function Gooo() {
            var index = parseInt($("#Goto").val());
            if (IsLegalIndex(index)) {
                $('#demo').jqPaginator('option', { currentPage: index });
                GlobalQueryParam.PageIndex = index;
                GlobalQueryParam.NickName = $('input[name=NickName]').val();
                AgentMangePage(GlobalQueryParam);
            }
            $("#Goto").val("");
        }

        function IsLegalIndex(index) {
            var re = /^[0-9]*[1-9][0-9]*$/;
            if (index > GlobalQueryParam.TatalPages)
                return false;
            return re.test(index);
        }

        function destory() {
            $('#demo').jqPaginator('destroy');
        }

        function AgentMangePage(GlobalQueryParam) {
            if (GlobalIsEnd)
                return false;
            $.ajax({
                url: "/Manager/Manage/AgentManagePage",
                data: GlobalQueryParam,
                dataType: "json",
                type: "post",
                success: function (data) {
                    $('#demo').jqPaginator('option', { totalPages: data.Key.TotalPages });
                    $("#Agents").empty();
                    var html = SetAgentPage(data.Value);
                    $("#Agents").append(html);
                }
            });
        }

        function SetAgentPage(value) {
            var html = "";
            if (value != null && value.length > 0) {
                for (var i = 0; i < value.length; i++) {
                    html += "<tr><td>" + value[i].Id + "</td><td>" + value[i].NickName + "</td><td>" + value[i].Sex + "</td><td>" + value[i].CreateTime + "</td><td>X</td></tr>";
                }
            }
            return html;
        }
    </script>
}