@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_default.cshtml";
}
@section Head{ 
    <style>
        .active{
            color:red;
        }
    </style>
    }
@Html.Action("Header", "Partial")
<h2 class="testClass">Hello Word!</h2>
@section Js{
    <script>
        $("h2").addClass('active');
    </script>
    }

