@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_default.cshtml";
}
@section Head{ 
    <style>
        .active{
            color:red;
        }
    </style>
    }
<h2>Index</h2>
<hr />
@Html.Action("Header", "Partial")