<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="InUserPoint" />
        <binding name="OutUserPoint" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:57315/GetUser.svc" binding="basicHttpBinding"
        bindingConfiguration="InUserPoint" contract="GetUserService.IGetUser"
        name="InUserPoint" />
      <endpoint address="http://localhost:57315/SetUser.svc" binding="basicHttpBinding"
        bindingConfiguration="OutUserPoint" contract="SetUserService.ISetUser"
        name="OutUserPoint" />
    </client>
  </system.serviceModel>
</configuration>