<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="InUserPoint1">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="InUserPoint">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:57315/GetUser.svc" binding="wsHttpBinding"
        bindingConfiguration="InUserPoint1" contract="GetUserService.IGetUser"
        name="InUserPoint1">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAg88dD5YYnXB0D69AX3qR1ojCeBcgAAAAAQAAAMABAAAwggG8MIIBZqADAgECAhDX1r4UMQrVq0DPiXkbMaH8MA0GCSqGSIb3DQEBBAUAMBYxFDASBgNVBAMTC1Jvb3QgQWdlbmN5MB4XDTE2MDEyOTE1MzkzMFoXDTM5MTIzMTIzNTk1OVowFzEVMBMGA1UEAxMMYm9vb29vanUyMDExMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCZd7aoLvL/ow3pJiVCcnlNiF/8Lek5mvH2+PKLsoDwL2efOUCzE1Nm2+DZOmpwv2kxdx+19QaFWrjrJTwEyQjLcu2qXRJX41Oits4Q8fT35UC4mc1yG8X6D4LVCLZC1iG0l6WTc9jF07SiURw2HAe8MttgEylRsppJRDaWR+uogQIDAQABo0swSTBHBgNVHQEEQDA+gBAS5AktBh0dTwCNYSHcFmRjoRgwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3mCEAY3bACqAGSKEc+41KpcNfQwDQYJKoZIhvcNAQEEBQADQQBG894Dpd5XpYo9h/eLH8P6/ST0wlMiMbQ4A+tLufBjhU2sWqZp88N/5GIuL1mn8dush+xgUL4/VYn2baoXZj57" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:57315/SetUser.svc" binding="wsHttpBinding"
        bindingConfiguration="InUserPoint" contract="SetUserService.ISetUser"
        name="InUserPoint">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAg88dD5YYnXB0D69AX3qR1ojCeBcgAAAAAQAAAMABAAAwggG8MIIBZqADAgECAhDX1r4UMQrVq0DPiXkbMaH8MA0GCSqGSIb3DQEBBAUAMBYxFDASBgNVBAMTC1Jvb3QgQWdlbmN5MB4XDTE2MDEyOTE1MzkzMFoXDTM5MTIzMTIzNTk1OVowFzEVMBMGA1UEAxMMYm9vb29vanUyMDExMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCZd7aoLvL/ow3pJiVCcnlNiF/8Lek5mvH2+PKLsoDwL2efOUCzE1Nm2+DZOmpwv2kxdx+19QaFWrjrJTwEyQjLcu2qXRJX41Oits4Q8fT35UC4mc1yG8X6D4LVCLZC1iG0l6WTc9jF07SiURw2HAe8MttgEylRsppJRDaWR+uogQIDAQABo0swSTBHBgNVHQEEQDA+gBAS5AktBh0dTwCNYSHcFmRjoRgwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3mCEAY3bACqAGSKEc+41KpcNfQwDQYJKoZIhvcNAQEEBQADQQBG894Dpd5XpYo9h/eLH8P6/ST0wlMiMbQ4A+tLufBjhU2sWqZp88N/5GIuL1mn8dush+xgUL4/VYn2baoXZj57" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>