<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="InUserPoint1">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="InUserPoint">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1239/GetUser.svc" binding="wsHttpBinding" bindingConfiguration="InUserPoint1" contract="GetUserService.IGetUser" name="InUserPoint1">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAZVNG6/awMbIEwCvK3kim/3oGQPcgAAAAAQAAAAMCAAAwggH/MIIBaKADAgECAhAGEYxjuq+ZrUNyIewJjHYdMA0GCSqGSIb3DQEBBAUAMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMDAeFw0xNjAyMDIwNzE3MjdaFw0zOTEyMzEyMzU5NTlaMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMDCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA2z2Nn0SozlGP/6Go/fQHpO2IRr4o1L5iMB63OnV4WjOSrCWdWbzNYAQKptqvhJe6rYA9/NEU7OWIXX9zNXBe5DbnxeUu24o3CO70QRSmHpYCqROKwMkU06+UMU88g8nJsN5DbmIAtNuNakil7FtCWox2Hmi6ywuLhxzSBC7gdEMCAwEAAaNMMEowSAYDVR0BBEEwP4AQgq7Nwdzg2WWEPp5zKpDceaEZMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMIIQBhGMY7qvma1DciHsCYx2HTANBgkqhkiG9w0BAQQFAAOBgQCEUEw/x+pOUFd0/g8BW0bwHERgeMcC8gl/Lkd9BUW0F1HZR22pbbFmEh49bWAR/OI54Ydqhz+qDDl1IL4uR24xhbzLz7q4PHazd2N+GIYue8BsVbqllVjSQwqci+hRPnvVc3AHmY44vfWiaenreagKFCyZqRFeBJ8R6LR0Z3OIIQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:1239/SetUser.svc" binding="wsHttpBinding" bindingConfiguration="InUserPoint" contract="SetUserService.ISetUser" name="InUserPoint">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAZVNG6/awMbIEwCvK3kim/3oGQPcgAAAAAQAAAAMCAAAwggH/MIIBaKADAgECAhAGEYxjuq+ZrUNyIewJjHYdMA0GCSqGSIb3DQEBBAUAMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMDAeFw0xNjAyMDIwNzE3MjdaFw0zOTEyMzEyMzU5NTlaMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMDCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA2z2Nn0SozlGP/6Go/fQHpO2IRr4o1L5iMB63OnV4WjOSrCWdWbzNYAQKptqvhJe6rYA9/NEU7OWIXX9zNXBe5DbnxeUu24o3CO70QRSmHpYCqROKwMkU06+UMU88g8nJsN5DbmIAtNuNakil7FtCWox2Hmi6ywuLhxzSBC7gdEMCAwEAAaNMMEowSAYDVR0BBEEwP4AQgq7Nwdzg2WWEPp5zKpDceaEZMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMIIQBhGMY7qvma1DciHsCYx2HTANBgkqhkiG9w0BAQQFAAOBgQCEUEw/x+pOUFd0/g8BW0bwHERgeMcC8gl/Lkd9BUW0F1HZR22pbbFmEh49bWAR/OI54Ydqhz+qDDl1IL4uR24xhbzLz7q4PHazd2N+GIYue8BsVbqllVjSQwqci+hRPnvVc3AHmY44vfWiaenreagKFCyZqRFeBJ8R6LR0Z3OIIQ==" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>
