
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_default.cshtml";
}

<h2>Manage</h2>
@Html.Action("Partial","Header")
<input placeholder="关键字查询"/> <button>查询</button>
<table>
    <thead>
        <tr><th>Id</th><th>Acount</th><th></th></tr>
    </thead>
</table>

