@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_default.cshtml";
}
@section Head{
    <link href="css/public/reset.css" rel="stylesheet" type="text/css">
    <link href="css/public/utilities.css" rel="stylesheet" type="text/css">
    <link href="css/component/face.css" rel="stylesheet" type="text/css">
    <link href="css/page/myZhanKoo.css" rel="stylesheet" type="text/css">
}

<!-- 我的头像部分-->
<div class="myFace">
    <!-- 头像部分-->
    <div class="center-block faceDiv" id="faceDiv">
        <img class="img" id="img" src="" alt="待上传图片">
    </div>
    <h2 class="text-center">会飞的锤子</h2>
</div>

<!--</div>-->
<!--用户菜单-->
<div class="container userMenu">
    <div class="row">
        <div class="col-xs-4 text-center">
            <a href="##" class="block bdcolor1">
                <img class="img-responsive center-block" src="images/icons/wdzk_icon_order.png">
            </a>
            <p>全部订单</p>
        </div>
        <div class="col-xs-4 text-center">
            <a href="##" class="block bdcolor3">
                <img class="img-responsive center-block" src="images/icons/wdzk_icon_qianbao.png">
            </a>
            <p>我的钱包</p>
        </div>

        <div class="col-xs-4 text-center">
            <a href="##" class="block bdcolor2">
                <img class="img-responsive center-block" src="images/icons/wdzk_icon_tickes.png">
            </a>
            <p>我的门票</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 text-center">
            <a href="##" class="block bdcolor4">
                <img class="img-responsive center-block" src="images/icons/wdzk_icon_guanzhu.png">
            </a>
            <p>我的关注</p>
        </div>
        <div class="col-xs-4 text-center">
            <a href="##" class="block bdcolor6">

                <img class="img-responsive center-block" src="images/icons/wdzk_icon_youhui.png">
            </a>
            <p>我的优惠</p>
        </div>
        <div class="col-xs-4 text-center">
            <a href="##" class="block bdcolor5">
                <img class="img-responsive center-block" src="images/icons/wdzk_icon_quqiu.png">
            </a>
            <p>我的需求</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 text-center">
            <a href="##" class="block bdcolor7">
                <img class="img-responsive center-block" src="images/icons/wdzk_icon_xinxi.png">
            </a>
            <p>参展信息</p>
        </div>
        <div class="col-xs-4 text-center">
            <a href="##" class="block bdcolor8">
                <img class="img-responsive center-block" src="images/icons/wdzk_icon_xiaoxi.png">
            </a>
            <p>消息中心</p>
        </div>
        <div class="col-xs-4 text-center">
            <a href="##" class="block bdcolor8">
                <img class="img-responsive center-block" src="images/icons/wdzk_icon_dianpin.png">
            </a>
            <p>我的点评</p>
        </div>
        <div class="col-xs-4 text-center">
            <a href="##" class="block bdcolor8">
                <img class="img-responsive center-block" src="images/icons/wdzk_icon_guancha.png">
            </a>
            <p>我的观察</p>
        </div>
    </div>
</div>  