<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:57315/UserOperation.svc"  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService" contract="BoooooJuService.ISetUser" name="InUserPoint" />
      <endpoint address="http://localhost:57315/UserOperation.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"  contract="BoooooJuService.IGetUser" name="OutUserPoint" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>