<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup> 
  
  
  
  
  
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="QueryPoint">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="RegisterPoint">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SignInPoint">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="UpdatePoint">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="Diancan">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://120.24.185.131:9300/Account/AccountService.svc" binding="wsHttpBinding" bindingConfiguration="QueryPoint" contract="AccountService.IQueryService" name="QueryPoint">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAtscMcBHEZAbq6pu8UO194am3jSYgAAAAAQAAAAMCAAAwggH/MIIBaKADAgECAhBCVioxVVRotUifzqqWZQOEMA0GCSqGSIb3DQEBBAUAMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMDAeFw0xNjAzMjAxMzAxMTVaFw0zOTEyMzEyMzU5NTlaMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMDCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA6xpvcwJ73bTCn+45M4IZjJeGMKLM57LGIv47SAMNKZzRP8ckws7qxPxDP393CEFU0y/JdwDmZDryCF7ud1K9Kh7Im5YRPXXlzYkn0/L4nfXGDuQsQtVa9dh+vWYa0YGmKW7QBHtcd5lP5W10nBATvpOSOCdUPA/Vx3C7+5lpCTcCAwEAAaNMMEowSAYDVR0BBEEwP4AQS9EtJ0Mp3bMLQuh+BHOe56EZMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMIIQQlYqMVVUaLVIn86qlmUDhDANBgkqhkiG9w0BAQQFAAOBgQAtHyXIdQJhILCprHZ+KXbUxLLBODSpWMi0pfuOeemXk5HBhE6EB+Xn42rhmhbaJF75ZzrFzEO1gmv5XIHmwHFvW2mlmtiPqdc7LDpj7DpZ77Aw8IjeF6knFin7Bsi5PZ/29JZ7k+4hZKZ2W9HCDSruzYOpERxshQYWXHZciBokZQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://120.24.185.131:9300/Account/AccountService.svc" binding="wsHttpBinding" bindingConfiguration="RegisterPoint" contract="AccountService.IRegisterService" name="RegisterPoint">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAtscMcBHEZAbq6pu8UO194am3jSYgAAAAAQAAAAMCAAAwggH/MIIBaKADAgECAhBCVioxVVRotUifzqqWZQOEMA0GCSqGSIb3DQEBBAUAMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMDAeFw0xNjAzMjAxMzAxMTVaFw0zOTEyMzEyMzU5NTlaMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMDCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA6xpvcwJ73bTCn+45M4IZjJeGMKLM57LGIv47SAMNKZzRP8ckws7qxPxDP393CEFU0y/JdwDmZDryCF7ud1K9Kh7Im5YRPXXlzYkn0/L4nfXGDuQsQtVa9dh+vWYa0YGmKW7QBHtcd5lP5W10nBATvpOSOCdUPA/Vx3C7+5lpCTcCAwEAAaNMMEowSAYDVR0BBEEwP4AQS9EtJ0Mp3bMLQuh+BHOe56EZMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMIIQQlYqMVVUaLVIn86qlmUDhDANBgkqhkiG9w0BAQQFAAOBgQAtHyXIdQJhILCprHZ+KXbUxLLBODSpWMi0pfuOeemXk5HBhE6EB+Xn42rhmhbaJF75ZzrFzEO1gmv5XIHmwHFvW2mlmtiPqdc7LDpj7DpZ77Aw8IjeF6knFin7Bsi5PZ/29JZ7k+4hZKZ2W9HCDSruzYOpERxshQYWXHZciBokZQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://120.24.185.131:9300/Account/AccountService.svc" binding="wsHttpBinding" bindingConfiguration="SignInPoint" contract="AccountService.ISignInService" name="SignInPoint">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAtscMcBHEZAbq6pu8UO194am3jSYgAAAAAQAAAAMCAAAwggH/MIIBaKADAgECAhBCVioxVVRotUifzqqWZQOEMA0GCSqGSIb3DQEBBAUAMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMDAeFw0xNjAzMjAxMzAxMTVaFw0zOTEyMzEyMzU5NTlaMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMDCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA6xpvcwJ73bTCn+45M4IZjJeGMKLM57LGIv47SAMNKZzRP8ckws7qxPxDP393CEFU0y/JdwDmZDryCF7ud1K9Kh7Im5YRPXXlzYkn0/L4nfXGDuQsQtVa9dh+vWYa0YGmKW7QBHtcd5lP5W10nBATvpOSOCdUPA/Vx3C7+5lpCTcCAwEAAaNMMEowSAYDVR0BBEEwP4AQS9EtJ0Mp3bMLQuh+BHOe56EZMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMIIQQlYqMVVUaLVIn86qlmUDhDANBgkqhkiG9w0BAQQFAAOBgQAtHyXIdQJhILCprHZ+KXbUxLLBODSpWMi0pfuOeemXk5HBhE6EB+Xn42rhmhbaJF75ZzrFzEO1gmv5XIHmwHFvW2mlmtiPqdc7LDpj7DpZ77Aw8IjeF6knFin7Bsi5PZ/29JZ7k+4hZKZ2W9HCDSruzYOpERxshQYWXHZciBokZQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://120.24.185.131:9300/Account/AccountService.svc" binding="wsHttpBinding" bindingConfiguration="UpdatePoint" contract="AccountService.IUpdateService" name="UpdatePoint">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAtscMcBHEZAbq6pu8UO194am3jSYgAAAAAQAAAAMCAAAwggH/MIIBaKADAgECAhBCVioxVVRotUifzqqWZQOEMA0GCSqGSIb3DQEBBAUAMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMDAeFw0xNjAzMjAxMzAxMTVaFw0zOTEyMzEyMzU5NTlaMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMDCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA6xpvcwJ73bTCn+45M4IZjJeGMKLM57LGIv47SAMNKZzRP8ckws7qxPxDP393CEFU0y/JdwDmZDryCF7ud1K9Kh7Im5YRPXXlzYkn0/L4nfXGDuQsQtVa9dh+vWYa0YGmKW7QBHtcd5lP5W10nBATvpOSOCdUPA/Vx3C7+5lpCTcCAwEAAaNMMEowSAYDVR0BBEEwP4AQS9EtJ0Mp3bMLQuh+BHOe56EZMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMIIQQlYqMVVUaLVIn86qlmUDhDANBgkqhkiG9w0BAQQFAAOBgQAtHyXIdQJhILCprHZ+KXbUxLLBODSpWMi0pfuOeemXk5HBhE6EB+Xn42rhmhbaJF75ZzrFzEO1gmv5XIHmwHFvW2mlmtiPqdc7LDpj7DpZ77Aw8IjeF6knFin7Bsi5PZ/29JZ7k+4hZKZ2W9HCDSruzYOpERxshQYWXHZciBokZQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://120.24.185.131:9300/Diancan/DiancanService.svc" binding="wsHttpBinding" bindingConfiguration="Diancan" contract="DiancanService.IDiancanService" name="Diancan">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAtscMcBHEZAbq6pu8UO194am3jSYgAAAAAQAAAAMCAAAwggH/MIIBaKADAgECAhBCVioxVVRotUifzqqWZQOEMA0GCSqGSIb3DQEBBAUAMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMDAeFw0xNjAzMjAxMzAxMTVaFw0zOTEyMzEyMzU5NTlaMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMDCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA6xpvcwJ73bTCn+45M4IZjJeGMKLM57LGIv47SAMNKZzRP8ckws7qxPxDP393CEFU0y/JdwDmZDryCF7ud1K9Kh7Im5YRPXXlzYkn0/L4nfXGDuQsQtVa9dh+vWYa0YGmKW7QBHtcd5lP5W10nBATvpOSOCdUPA/Vx3C7+5lpCTcCAwEAAaNMMEowSAYDVR0BBEEwP4AQS9EtJ0Mp3bMLQuh+BHOe56EZMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMIIQQlYqMVVUaLVIn86qlmUDhDANBgkqhkiG9w0BAQQFAAOBgQAtHyXIdQJhILCprHZ+KXbUxLLBODSpWMi0pfuOeemXk5HBhE6EB+Xn42rhmhbaJF75ZzrFzEO1gmv5XIHmwHFvW2mlmtiPqdc7LDpj7DpZ77Aw8IjeF6knFin7Bsi5PZ/29JZ7k+4hZKZ2W9HCDSruzYOpERxshQYWXHZciBokZQ==" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
