<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />-->
  </configSections> 
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="StaticPageFoler" value="O" />
    <add key="WebApiAdrress" value="http://localhost:9000" />
  </appSettings> 
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <!--<add name="BoooooJu.Web.Core.App_Start.MyHandler" type="BoooooJu.Web.Core.App_Start.MyHandler"/>-->
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperSocket.SocketBase" publicKeyToken="6c80000676988ebb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.4" newVersion="1.6.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperSocket.Common" publicKeyToken="6c80000676988ebb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.4" newVersion="1.6.0.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
    
    </compilers>
  </system.codedom>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <validation validateIntegratedModeConfiguration="false" /> 
    <handlers>
      <add name="HtmlFileHandler" path="*.html" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers> 
    <defaultDocument>
      <files>
        <clear />
        <add value="index.htm" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.html" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="QueryPoint">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="RegisterPoint">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="SignInPoint">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="UpdatePoint">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="Diancan">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://120.24.185.131:9300/Account/AccountService.svc" binding="wsHttpBinding" bindingConfiguration="QueryPoint" contract="AccountService.IQueryService" name="QueryPoint">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAtscMcBHEZAbq6pu8UO194am3jSYgAAAAAQAAAAMCAAAwggH/MIIBaKADAgECAhBCVioxVVRotUifzqqWZQOEMA0GCSqGSIb3DQEBBAUAMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMDAeFw0xNjAzMjAxMzAxMTVaFw0zOTEyMzEyMzU5NTlaMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMDCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA6xpvcwJ73bTCn+45M4IZjJeGMKLM57LGIv47SAMNKZzRP8ckws7qxPxDP393CEFU0y/JdwDmZDryCF7ud1K9Kh7Im5YRPXXlzYkn0/L4nfXGDuQsQtVa9dh+vWYa0YGmKW7QBHtcd5lP5W10nBATvpOSOCdUPA/Vx3C7+5lpCTcCAwEAAaNMMEowSAYDVR0BBEEwP4AQS9EtJ0Mp3bMLQuh+BHOe56EZMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMIIQQlYqMVVUaLVIn86qlmUDhDANBgkqhkiG9w0BAQQFAAOBgQAtHyXIdQJhILCprHZ+KXbUxLLBODSpWMi0pfuOeemXk5HBhE6EB+Xn42rhmhbaJF75ZzrFzEO1gmv5XIHmwHFvW2mlmtiPqdc7LDpj7DpZ77Aw8IjeF6knFin7Bsi5PZ/29JZ7k+4hZKZ2W9HCDSruzYOpERxshQYWXHZciBokZQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://120.24.185.131:9300/Account/AccountService.svc" binding="wsHttpBinding" bindingConfiguration="RegisterPoint" contract="AccountService.IRegisterService" name="RegisterPoint">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAtscMcBHEZAbq6pu8UO194am3jSYgAAAAAQAAAAMCAAAwggH/MIIBaKADAgECAhBCVioxVVRotUifzqqWZQOEMA0GCSqGSIb3DQEBBAUAMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMDAeFw0xNjAzMjAxMzAxMTVaFw0zOTEyMzEyMzU5NTlaMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMDCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA6xpvcwJ73bTCn+45M4IZjJeGMKLM57LGIv47SAMNKZzRP8ckws7qxPxDP393CEFU0y/JdwDmZDryCF7ud1K9Kh7Im5YRPXXlzYkn0/L4nfXGDuQsQtVa9dh+vWYa0YGmKW7QBHtcd5lP5W10nBATvpOSOCdUPA/Vx3C7+5lpCTcCAwEAAaNMMEowSAYDVR0BBEEwP4AQS9EtJ0Mp3bMLQuh+BHOe56EZMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMIIQQlYqMVVUaLVIn86qlmUDhDANBgkqhkiG9w0BAQQFAAOBgQAtHyXIdQJhILCprHZ+KXbUxLLBODSpWMi0pfuOeemXk5HBhE6EB+Xn42rhmhbaJF75ZzrFzEO1gmv5XIHmwHFvW2mlmtiPqdc7LDpj7DpZ77Aw8IjeF6knFin7Bsi5PZ/29JZ7k+4hZKZ2W9HCDSruzYOpERxshQYWXHZciBokZQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://120.24.185.131:9300/Account/AccountService.svc" binding="wsHttpBinding" bindingConfiguration="SignInPoint" contract="AccountService.ISignInService" name="SignInPoint">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAtscMcBHEZAbq6pu8UO194am3jSYgAAAAAQAAAAMCAAAwggH/MIIBaKADAgECAhBCVioxVVRotUifzqqWZQOEMA0GCSqGSIb3DQEBBAUAMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMDAeFw0xNjAzMjAxMzAxMTVaFw0zOTEyMzEyMzU5NTlaMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMDCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA6xpvcwJ73bTCn+45M4IZjJeGMKLM57LGIv47SAMNKZzRP8ckws7qxPxDP393CEFU0y/JdwDmZDryCF7ud1K9Kh7Im5YRPXXlzYkn0/L4nfXGDuQsQtVa9dh+vWYa0YGmKW7QBHtcd5lP5W10nBATvpOSOCdUPA/Vx3C7+5lpCTcCAwEAAaNMMEowSAYDVR0BBEEwP4AQS9EtJ0Mp3bMLQuh+BHOe56EZMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMIIQQlYqMVVUaLVIn86qlmUDhDANBgkqhkiG9w0BAQQFAAOBgQAtHyXIdQJhILCprHZ+KXbUxLLBODSpWMi0pfuOeemXk5HBhE6EB+Xn42rhmhbaJF75ZzrFzEO1gmv5XIHmwHFvW2mlmtiPqdc7LDpj7DpZ77Aw8IjeF6knFin7Bsi5PZ/29JZ7k+4hZKZ2W9HCDSruzYOpERxshQYWXHZciBokZQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://120.24.185.131:9300/Account/AccountService.svc" binding="wsHttpBinding" bindingConfiguration="UpdatePoint" contract="AccountService.IUpdateService" name="UpdatePoint">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAtscMcBHEZAbq6pu8UO194am3jSYgAAAAAQAAAAMCAAAwggH/MIIBaKADAgECAhBCVioxVVRotUifzqqWZQOEMA0GCSqGSIb3DQEBBAUAMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMDAeFw0xNjAzMjAxMzAxMTVaFw0zOTEyMzEyMzU5NTlaMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMDCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA6xpvcwJ73bTCn+45M4IZjJeGMKLM57LGIv47SAMNKZzRP8ckws7qxPxDP393CEFU0y/JdwDmZDryCF7ud1K9Kh7Im5YRPXXlzYkn0/L4nfXGDuQsQtVa9dh+vWYa0YGmKW7QBHtcd5lP5W10nBATvpOSOCdUPA/Vx3C7+5lpCTcCAwEAAaNMMEowSAYDVR0BBEEwP4AQS9EtJ0Mp3bMLQuh+BHOe56EZMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMIIQQlYqMVVUaLVIn86qlmUDhDANBgkqhkiG9w0BAQQFAAOBgQAtHyXIdQJhILCprHZ+KXbUxLLBODSpWMi0pfuOeemXk5HBhE6EB+Xn42rhmhbaJF75ZzrFzEO1gmv5XIHmwHFvW2mlmtiPqdc7LDpj7DpZ77Aw8IjeF6knFin7Bsi5PZ/29JZ7k+4hZKZ2W9HCDSruzYOpERxshQYWXHZciBokZQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://120.24.185.131:9300/Diancan/DiancanService.svc" binding="wsHttpBinding" bindingConfiguration="Diancan" contract="DiancanService.IDiancanService" name="Diancan">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAtscMcBHEZAbq6pu8UO194am3jSYgAAAAAQAAAAMCAAAwggH/MIIBaKADAgECAhBCVioxVVRotUifzqqWZQOEMA0GCSqGSIb3DQEBBAUAMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMDAeFw0xNjAzMjAxMzAxMTVaFw0zOTEyMzEyMzU5NTlaMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMDCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA6xpvcwJ73bTCn+45M4IZjJeGMKLM57LGIv47SAMNKZzRP8ckws7qxPxDP393CEFU0y/JdwDmZDryCF7ud1K9Kh7Im5YRPXXlzYkn0/L4nfXGDuQsQtVa9dh+vWYa0YGmKW7QBHtcd5lP5W10nBATvpOSOCdUPA/Vx3C7+5lpCTcCAwEAAaNMMEowSAYDVR0BBEEwP4AQS9EtJ0Mp3bMLQuh+BHOe56EZMBcxFTATBgNVBAMTDGJvb29vb2p1MjAxMIIQQlYqMVVUaLVIn86qlmUDhDANBgkqhkiG9w0BAQQFAAOBgQAtHyXIdQJhILCprHZ+KXbUxLLBODSpWMi0pfuOeemXk5HBhE6EB+Xn42rhmhbaJF75ZzrFzEO1gmv5XIHmwHFvW2mlmtiPqdc7LDpj7DpZ77Aw8IjeF6knFin7Bsi5PZ/29JZ7k+4hZKZ2W9HCDSruzYOpERxshQYWXHZciBokZQ==" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>